#shop-page-filter-input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px !important;
  background-color: #000 !important;
}
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  overflow: hidden;
  border: 1px solid red;
}
